@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
    font-family: 'Gothic A1', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.bg-auth {
    background-image: url('../../public/image/auth-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 260%;
    animation: moveBackground 30s linear infinite;
}

.bg-hero {
    background-image: url('../../public/image/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes moveBackground {
    0% {
        background-position: -50vw -20vw;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: -50vw -20vw;
    }
}

.truncate-text {
    max-width: 7vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.move-right {
    border-color: #70FF75;
    transform: translateX(2.2vw);
    transition: all 0.3s ease-in-out;
}
.hide-this{
    display: none;
}
.hide-this{
    display: none;
}

.text-hijau{
    color: #45ce4a;
}

.text-merah{
    color: #FF7373;
}

.active {
    padding-left: 0.7vw;
    font-size: 1.15vw;
    margin-bottom: 1.5vw;
    border-left-width: 0.25vw;
    border-color: #546FFF; /* Replace 'yourBorderColor' with the actual color */
    border-style: solid;
    border-width: 1px; /* You can adjust the width as needed */
    color: #546FFF; /* Replace 'yourTextColor' with the actual color */
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.selected{
    border-left: 0.25vw solid #546FFF;
    color: #141522;
}